{% extends 'base/base.html' %} {% block start %}
<div class="container mt-5">
  <div class="row">
    {% for product in products %}

    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem">
        <a href="{% url 'product' product.slug %}">
          <div class="product-img-wrapper">
            {% if product.product_images.first %}
            <img
              src="{{ product.product_images.first.image.url }}"
              class="card-img-top"
              alt="{{product.product_name}}"
            />
            {% else %}
            <img
              src="https://via.placeholder.com/300x200.png?text=No+Image"
              class="card-img-top"
              alt="No image"
            />
            {% endif %}
          </div>
        </a>

        <div class="card-body">
          <h5 class="card-title">
            <a
              href="{% url 'product' product.slug %}"
              class="text-dark text-decoration-none"
            >
              {{product.product_name}}
            </a>
          </h5>

          <p class="card-text">${{ product.min_price | default:0 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
