{% extends 'base/base.html' %}
{% load static %}

{% block start %}
<div class="login-wrapper">
    <div class="container-login">
        
        <div class="form-container sign-in">
            <form>
                <i class="fa-solid fa-shield-halved" style="font-size: 50px; color: #512da8; margin-bottom: 20px;"></i>
                <h1>Thành công!</h1>
                <span style="margin-bottom: 20px; text-align: center;">
                    Mật khẩu của bạn đã được cập nhật.<br>
                    Tài khoản của bạn giờ đây đã an toàn hơn.
                </span>
                
                <a href="{% url 'home' %}">
                    <button type="button">Tiếp tục mua sắm</button>
                </a>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Tuyệt vời!</h1>
                    <p>Cảm ơn bạn đã tin tưởng và đồng hành cùng chúng tôi.</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}