{% extends 'base/base.html' %}
{% load static %}

{% block start %}
<div class="login-wrapper">
    <div class="container-login">
        
        <div class="form-container sign-in">
            <form method="POST">
                {% csrf_token %}
                <h1>Quên mật khẩu</h1>
                <span style="margin-bottom: 15px;">Nhập email để lấy lại mật khẩu</span>
                
                <input type="email" name="email" placeholder="Email của bạn" required />
                
                <button type="submit">Gửi yêu cầu</button>
                
                <a href="{% url 'login' %}" style="margin-top: 15px;">
                    <i class="fa-solid fa-arrow-left"></i> Quay lại đăng nhập
                </a>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Bạn đã nhớ ra?</h1>
                    <p>Nếu bạn chợt nhớ ra mật khẩu, hãy quay lại để tiếp tục mua sắm nhé!</p>
                    
                    <a href="{% url 'login' %}">
                        <button class="hidden" id="login">Đăng nhập ngay</button>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}