{% extends 'base/base.html' %}
{% load static %}

{% block start %}
<div class="login-wrapper">
    <div class="container-login">
        
        <div class="form-container sign-in" style="text-align: center;">
            <form> <i class="fa-solid fa-envelope-circle-check" style="font-size: 50px; color: #512da8; margin-bottom: 20px;"></i>
                <h1>Đã gửi email!</h1>
                <span style="margin-bottom: 20px; line-height: 1.5;">
                    Chúng tôi đã gửi hướng dẫn đặt lại mật khẩu đến email của bạn.<br>
                    Vui lòng kiểm tra hộp thư đến (và cả mục Spam nhé).
                </span>
                
                <a href="{% url 'login' %}">
                    <button type="button">Quay về Đăng nhập</button>
                </a>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Chưa nhận được?</h1>
                    <p>Email thường đến trong vòng 1-2 phút. Nếu quá lâu, hãy thử gửi lại yêu cầu nhé.</p>
                    <a href="{% url 'reset_password' %}">
                        <button class="hidden" id="register">Gửi lại</button>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}