{% extends 'base/base.html' %}
{% load static %}

{% block start %}
<div class="login-wrapper">
    <div class="container-login">
        
        <div class="form-container sign-in">
            <form>
                <i class="fa-solid fa-circle-check" style="font-size: 50px; color: #28a745; margin-bottom: 20px;"></i>
                <h1>Thành công!</h1>
                <span style="margin-bottom: 20px;">
                    Mật khẩu của bạn đã được thay đổi thành công. Bạn có thể đăng nhập ngay bây giờ.
                </span>
                
                <a href="{% url 'login' %}">
                    <button type="button">Đăng nhập ngay</button>
                </a>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Chào mừng trở lại!</h1>
                    <p>Rất vui được gặp lại bạn. Hãy tiếp tục hành trình mua sắm tuyệt vời cùng chúng tôi.</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}