{% extends 'base/base.html' %}
{% load static %}

{% block start %}
<div class="login-wrapper">
    <div class="container-login">
        
        <div class="form-container sign-in">
            <form method="POST">
                {% csrf_token %}
                <h1>Đặt lại mật khẩu</h1>
                <span style="margin-bottom: 15px;">Nhập mật khẩu mới của bạn</span>

                {% for field in form %}
                    <div style="width: 100%;">
                        <input 
                            type="{{ field.field.widget.input_type }}" 
                            name="{{ field.name }}" 
                            placeholder="{{ field.label }}" 
                            required 
                            id="{{ field.id_for_label }}"
                        >
                        {% if field.errors %}
                            <div style="color: red; font-size: 11px; text-align: left; width: 100%; margin-top: -5px; margin-bottom: 5px;">
                                {{ field.errors.0 }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" style="margin-top: 20px;">Xác nhận đổi</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Bảo mật</h1>
                    <p>Hãy đặt một mật khẩu mạnh (gồm chữ hoa, chữ thường và số) để bảo vệ tài khoản của bạn nhé!</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}