{% extends "base/base.html" %}
{% load static %}

{% block title %}Đổi mật khẩu thành công - Urban Vibe{% endblock %}

{% block start %}



<div class="auth-wrapper">
    <div class="auth-container">
        
        <div class="form-side">
            <div class="icon-box">
                <i class="fa-solid fa-circle-check"></i>
            </div>
            
            <h1>Thành công!</h1>
            
            <p>
                Mật khẩu của bạn đã được thay đổi.<br>
                Tài khoản của bạn giờ đây đã an toàn và sẵn sàng sử dụng.
            </p>
            
            <a href="{% url 'login' %}" class="btn-auth">
                Đăng nhập ngay
            </a>
        </div>

        <div class="info-side">
            <div class="mb-3">
                <i class="fa-solid fa-user-check" style="font-size: 30px; opacity: 0.5;"></i>
            </div>
            <h1>Chào mừng trở lại!</h1>
            <p>
                Rất vui được gặp lại bạn.<br>
                Hãy tiếp tục hành trình khám phá phong cách cùng Urban Vibe nhé.
            </p>
        </div>
        
    </div>
</div>

{% endblock %}